@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media Query Manager

/*from:
0 - 600px --- Mobile screens
600px - 900px --- Tablets in portrait mode
900px - 1200px --- Tablets in landscape mode
[1200px - 1800px] --- Normal css we just applied
1800px + --- Big Screen Devices (TVs, large monitors etc)*/

// @mixin respond-phone {
//   @media (max-width: 600px) {            calling = @include respond-phone{font-size:}

//     @content;
//   }
// }

/*$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
- 1em = 16px */

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {                 // 600px/16 = 37.5em
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {                 // 900px/16 = 56.25em
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) {                   // 1200px/16 = 75em
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {               //1800px/16 = 112.5em
      @content;
    }
  }
}
